footer{

   border-top:1px solid rgb(219, 217, 217);
   padding: 2rem 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   font-size: 0.7rem; 
   color: gray;


   .menu{
    
        .menu-list{
            display: flex;
            justify-content: center;
            gap:2rem;
            list-style-type: none;
            flex-wrap: wrap;

            .menu-item{
                text-decoration: none;
                color: gray;

                &:hover{
                    font-weight: 600;
                    color: black;
                    transition: all 0.8sec ease-in-out;
                }
            }

            
        }

   }

    p{
        letter-spacing: 2px;
   }
}

@media only screen  and (max-width:800px){
    footer{
        gap: 1.5rem;
        border: 1px solid;

        .menu{

            .menu-list{
                gap:0.8rem;
            }
        }

        
        p{
            font-size: 0.5rem;
            line-height: 1.5;
        }
    }
    

}