.review-section{
    padding: 5rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
    position: relative;
    background-image: linear-gradient(to right,rgba(61, 54, 204,0.9),rgba(61, 54, 204,0.9)),url('../images/getstarted-bg.jpg');
    background-position: center ;
    color: white;

    .review{
        max-width: 490px;
        line-height: 1.5;
        text-align: center;
    }

    .user{
        font-size: 12px;
    }

    .radio{
        input{
            width: 10px;
        }
    }

    .enquire-section{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
        background-color: rgb(61, 54, 200);
        flex-wrap: wrap;

        p{
            font-size: 0.9rem;
        }

        &-btn{
            font-size: 0.7rem;
            padding: 0.5rem 4rem;
            font-weight: 600;
            background: white;
            color: gray;
            border: none;
            
        }
    }
}